---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.astro";
---

<Layout title="Get in touch">
  <section
  class="bg-[url('/contactBkg.avif')]"
  >
    <ContactForm client:visible/>
  </section>
</Layout>
