---
import Intro from '../partials/Intro.astro';
import Layout from '../layouts/Layout.astro';
import Paints from '../partials/Paints.astro';
import Hero from '../partials/Hero.astro';
---

<Layout title="Paola Canzani Art">
	<main>
		<Hero />
		 <Intro /> 
		 <Paints />
	</main>
</Layout>