---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const allPaints = await getCollection("paints");
---

{
  allPaints.map(({ slug, data }) => (
    <div class="md:max-w-lg max-h-[400px] px-10 py-16">
      <a href={slug}>
        <Image
          src={data.img}
          alt={data.altImg}
          class="rounded-lg h-full object-cover max-h-max"
        />
        <h2 class="font-abril text-xl mt-7">{data.title}</h2>
      </a>
    </div>
  ))
}
