<section
  class="bg-black flex flex-col justify-center items-center w-screen h-screen"
>
  <div
    class="w-11/12 lg:max-w-7xl mx-auto flex justify-center items-center flex-col"
  >
    <div class="w-100 flex justify-center content-center">
      <h1 class="text-5xl lg:text-7xl text-[#EDEDE9] text-center font-abril">
        Explore Paola's Art World
      </h1>
    </div>
    <div class="w-screen flex justify-center gap-20 items-center mt-24">
      <a href="#paints">
        <button
          class="bg-[#574e44] h-10 rounded font-space px-5 w-56"
          type="button"
        >
          View Gallery
        </button>
      </a>
      <a href="/contact">
        <button
          class="bg-[#D6CCC2] h-10 rounded font-space px-5 w-56"
          type="button"
        >
          Get in Touch
        </button>
      </a>
    </div>
  </div>
</section>
