---
import Paint from "../components/Paint.astro"
---

<section class="w-11/12 lg:max-w-9/12 p-10" id="paints">
  <h2 class="font-abril text-2xl lg:text-4xl">Paints</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    <Paint />
  </div>
</section>
